<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Trivia</title>
</head>
<body>
    <h1>Hola, {{ nombre_usuario }}!</h1>  
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        {% endif %}
        {% endwith %}

    <p>Pregunta {{ nro_pregunta }} de {{ total_preguntas }}:</p>
    <p>{{ frase }}</p>
    
    <form action="{{ url_for('juego') }}" method="post">
        {% for opcion in opciones %}
            <label>
                <input type="radio" name="respuesta" value="{{ opcion }}" required>
                {{ opcion }}
            </label><br>
        {% endfor %}
        <br>
        <button type="submit">Enviar respuesta</button>
    </form>
</body>
</html>
